In [20]:
# Import Dependencies.
import pandas as pd
import numpy as np

In [21]:
# Read the data set into a pandas dataframe.
file_path = ('.//Test_Dataset.csv')
data_df = pd.read_csv(file_path)
data_df.head(20)

      ID    SV  Time (FP) (s)  beatNumber  corrected_flow_time  maxVTotalVTI
0   10.0  57.0       0.970752         5.0           328.017698     26.576487
1   10.0  51.0       1.671167         6.0           317.703019     25.247431
2   10.0  56.0       2.359295         7.0           317.703019     27.895122
3   10.0  57.0       3.047423         8.0           345.347408     32.239905
4   10.0  57.0       3.796991         9.0           331.393936     35.416672
5   10.0  62.0       4.558847        10.0           333.375291     36.559391
6   10.0  58.0       5.406718        11.0           323.890887     37.817085
7   10.0  55.0       6.352894        12.0           301.377517     41.140520
8   10.0  52.0       7.434238        13.0           320.823275     39.073518
9   10.0  57.0       8.417277        14.0           348.466879     37.919081
10  10.0  60.0       9.363453        15.0           337.255238     38.457562
11  10.0  53.0      10.297341        16.0           326.072300     38.090619
12  10.0  51.0      11.218940        17.0           326.072300     40.045510
13  10.0  54.0      12.140540        18.0           314.919228     38.460130
14  10.0  55.0      13.049852        19.0           323.890887     40.813937
15  10.0  55.0      13.996028        20.0           327.207224     38.563379
16  10.0  55.0      14.905339        21.0           438.965207     37.707841
17  10.0  57.0      15.802363        22.0           328.373242     36.330571
18  10.0  56.0      16.699387        23.0           350.648292     38.810932
19  10.0  59.0      17.620986        24.0           330.803815     35.144954

In [22]:
# Count the number of rows and columns in the data set.
data_df.shape

(59555, 6)

In [23]:
# Data types in the dataframe.
data_df.dtypes

ID                     float64
SV                     float64
Time (FP) (s)          float64
beatNumber             float64
corrected_flow_time    float64
maxVTotalVTI           float64
dtype: object

In [24]:
# Count the number of values for each of the column in the dataframe.
data_df.count()

ID                     55388
SV                     55388
Time (FP) (s)          52213
beatNumber             52213
corrected_flow_time    52213
maxVTotalVTI           52213
dtype: int64

In [25]:
# Count the number of null values in the dataframe.
data_df.isnull().sum()

ID                     4167
SV                     4167
Time (FP) (s)          7342
beatNumber             7342
corrected_flow_time    7342
maxVTotalVTI           7342
dtype: int64

In [31]:
# Remove the null values from dataframe.
cleaned_df = data_df.dropna()

In [32]:
# Check there is no more null values present in the dataframe.
cleaned_df.isnull().sum()

ID                     0
SV                     0
Time (FP) (s)          0
beatNumber             0
corrected_flow_time    0
maxVTotalVTI           0
dtype: int64

In [34]:
# View the cleaned dataframe.
cleaned_df.head(10)

     ID    SV  Time (FP) (s)  beatNumber  corrected_flow_time  maxVTotalVTI
0  10.0  57.0       0.970752         5.0           328.017698     26.576487
1  10.0  51.0       1.671167         6.0           317.703019     25.247431
2  10.0  56.0       2.359295         7.0           317.703019     27.895122
3  10.0  57.0       3.047423         8.0           345.347408     32.239905
4  10.0  57.0       3.796991         9.0           331.393936     35.416672
5  10.0  62.0       4.558847        10.0           333.375291     36.559391
6  10.0  58.0       5.406718        11.0           323.890887     37.817085
7  10.0  55.0       6.352894        12.0           301.377517     41.140520
8  10.0  52.0       7.434238        13.0           320.823275     39.073518
9  10.0  57.0       8.417277        14.0           348.466879     37.919081